    <!-- SERVICOS --> 
    <main class="servicos container">
        <article class="servico bg-white radius">
            <a href="#"><img src="img/Nathan.PNG" alt="Nathan Gomes"></a>
            <div class="inner">
                <a href="#"> Nathan Gomes Art </a>
                <h4>Photoshop CS6</h4>
                <p>Alternative art, testing new techniques #selfportrait </p>
            </div>
        </article>
        <article class="servico bg-white radius">
            <a href="#"><img src="img/john 13.png" alt="John Lennon"></a>
            <div class="inner">
                <a href="#"> John Lennon </a>
                <h4>Photoshop CS6</h4>
                <p> #vektorart, Homage to John Lennon, Inspiration </p>
            </div>
        </article>
        <article class="servico bg-white radius">
            <a href="#"><img src="img/elvis final .png" alt="Elvis Presley"></a>
            <div class="inner">
                <a href="#"> Elvis Presley </a>
                <h4> Photoshop CS6</h4>
                <p>#vektorart, Creation of arts inspired by artists or people to whom I have great admiration </p>
            </div>
        </article>