<!-- RODAPÉ -->
<footer class="rodape container bg-gradient">
    <div class="social-icons">
        
        <a href="https://www.instagram.com/nathangomesz/"><i class="fa fa-instagram"></i> ☚  Siga No Instagram</a>
    
    </div>
    <p class="copyright">
        Copyright © 2018. Todos os direitos reservados.
    </footer>       
    
    <!-- JQUERY --> 
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
    $(".btn-menu").click(function(){
    $(".menu").show();
    });
    $(".btn-close").click(function(){
    $(".menu").hide();
    });
    </script>      